.contact-form {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    align-items: center;
    justify-content: center;
}

.w-left {
    display: flex;
    
}

.awesome {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    left:40%;
    color: var(--darkBlue);
    font-weight: bold;
    font-size: 3rem;
    gap: 30px;
}


.c-left>form {
    display: flex;
    
    flex-direction: column;
    flex-grow: 1;
    gap: 20px;
    margin:5px;
    align-items: center;
    right: 30px;
    margin-top: 35px;
    margin-bottom: 5rem;
}

.c-left>form>input {
    width: 300px;
    padding: 5px;
    border-width: 1.4px;
  border-style: solid;
  border-image: linear-gradient(to right, darkblue, darkorchid) 1;
    
}

.button-submit {
    
    border: black 1px solid;
    color: white;
    font-size: 16px;
    padding: 10px;
    background: #604fcd;
    margin-top: 20px;
}

.message {
    height: 4rem;
}

@media only screen and (max-width:1198px) {
    .contact-form {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
  
}

@media only screen and (max-width:654px) {
    .contact-form {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    
}